.SearchSuggestion {
  box-sizing: border-box;
  position: absolute;
  top: 39px;
  left: -10px;
  width: 560px;
  height: 300px;
  border-radius: 16px;
  backdrop-filter: blur(9.6px);
  background-color: var(--SearchSuggest-bg);
  box-shadow: 3px 6px 16px rgba(0,0,0,.96);
  cursor: pointer;
  z-index: 2;
  animation: fade-in;  
  animation-duration: .3s;
}
@keyframes fade-in {  
  0% {opacity: 0; transform: translateY(100%);}
  50% {opacity: 0.6;} 
  100% {opacity: 1;} 
} 

.SearchSuggestion > ul {
  margin: 19px 23px 19px 36px;
  padding: 0;
  height: 263px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.SearchSuggestion-item {
  display: flex;
  width: fit-content;
  padding: 6px 19px;
  list-style: none;
  color: #fff;
  transition: ease-in-out .2s;
}
.SearchSuggestion-item:hover {
  color: var(--highlight-text);
}