.SearchUrlModal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 600px;
    height: 396px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #eee;
    background: var(--Modal-background);
    backdrop-filter: blur(3.6px);
    box-shadow: 0 3px 16px rgba(0,0,0,.3);
    border-radius: 16px;
    z-index: 3
}
.SearchUrlModal_title {
    padding: 36px 0;
    font-size: 19px;
}
.SearchUrlModal_row {
    width: 100%;
    height: 36px;
    margin: 6px 0;
}
.SearchUrlModal_row > span {
    padding-left: 130px;
    padding-right: 6px;
}
.SearchUrlModal_row > input {
    width: 256px;
    padding: 6px 9px;
    border: 1.3px rgb(163, 163, 163) solid;
    border-radius:  0 9.6px 9.6px;
    color: #ddd;
}
.SearchUrlModal_row > input::-webkit-input-placeholder {
    color: rgb(163, 163, 163);
}
.SearchUrlModal_row > input:focus {
    border: 2px #fff solid;
}
.SearchUrlModal_row > p {
    color: rgb(163, 163, 163);
    font-size: 13.6px;
    text-align: center;
}
.SearchUrlModal_btns {
    position: absolute;
    bottom: 36px;
}
.SearchUrlModal_btns > button {
    margin: 0 16px;
    padding: 6px 19px;
    color: #eee;
    letter-spacing: 2.3px;
    background: inherit;
    outline: none;
    border-radius: 6px;
    border: 2px solid #ddd;
    box-shadow: 3px 3px 3px rgba(0,0,0,.1);
    transition: translate 0.3s;
    cursor: pointer;
}
.SearchUrlModal_btns > .active {
    color: #fff;
    border: 2px solid #fe3369;
    background-color: #fe3369;
}
.SearchUrlModal_btns > button:hover {
    transform: translate(0, -3px);
}