.fade-up {
  animation: fade-up;  
  animation-duration: .3s;
}
@keyframes fade-up {  
  0% {opacity: 0; transform: translateY(100%);}
  50% {opacity: 0.6;} 
  100% {opacity: 1;} 
} 

.fade-down {
  animation: fade-down;
  animation-duration: .3s;
}
@keyframes fade-down {
  0% {opacity: 0; transform: translateY(-100%);}
  50% {opacity: 0.6;} 
  100% {opacity: 1;} 
}