body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background: var(--main-background);
  z-index: 0;
}

.bg {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url("/assets/bg/win11-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.changeBg {
  margin: 15px;
  position: fixed;
  right: 0;
  top: 0;
  color: aliceblue;
  cursor: pointer;
}

#bg-video {
  display: block;
  object-fit: cover;
}
