.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rowcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.noselect {
    -moz-user-select:none; /*火狐*/
    -webkit-user-select:none; /*webkit浏览器*/
    -ms-user-select:none; /*IE10*/
    -khtml-user-select:none; /*早期浏览器*/
    user-select:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}