body {
  --main-background: hsla(60, 20%, 4%, 0.281);
  --SearchBar-background: rgba(0, 0, 0, 0.6);
  --SearchList-background: rgba(0, 0, 0, 0.6);
  --Modal-background: rgba(0, 0, 0, 0.6);
  --Window-background: rgba(255, 255, 255, 1);
  --WindowHeader-background: rgba(255, 255, 255, 0.9);
  --AppList-background: rgba(255, 255, 255, 0.36);
  --TodoList-background: hsla(0, 0%, 0%, 0.438);
  --SearchSuggestion-background: rgba(0, 0, 0, 0.3);
  --highlight-text: #fff;
}
