.AppWindow {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  min-width: 300px;
  min-height: 300px;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.3),
  0px 0px 6px rgba(0,0,0,0.1) inset;
  animation: fade-in;
  animation-duration: .3s;
  transition: all 0.3s ease-in-out;
}
@keyframes fade-in {
  0% {opacity: 0; transform: translateY(100%);}
  50% {opacity: 0.6;}
  100% {opacity: 1;}
}
.AppWindowHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  height: 36px;
  background-color: var(--WindowHeader-background);
  backdrop-filter: blur(3.6px);
  cursor: move;
}
.AppWindowHeader .Title {

}
.AppWindowHeader .Menu {
  /* display: flex;
  align-items: center; */
}
.AppWindowHeader .Menu a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 36px;
  cursor: pointer;
  transition: ease-in-out .3s;
}
.AppWindowHeader .Menu a:last-child {
  border-radius: 0 13.6px 0 0;
}
.AppWindowHeader .Menu a:hover {
  background: #ddd;
}
.AppWindowHeader .Menu a > img {
  width: 19px;
}
.AppWindowContent {
  width: 100%;
  background: var(--Window-background);
}
.AppWindowContent iframe{
  width: 100%;
  height: 100%;
  min-width: 300px;
  min-height: 270px;
  border: none;
}
.AppWindowContent .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999;
}
.resizebar {
  display: inline-flex;
  height: 0;
  z-index: 999;
}
.resize-left {
  position: absolute;
  width: 36px;
  height: 100%;
  left: -19px;
  top: 30px;
  cursor: w-resize;
}
.resize-right {
  position: absolute;
  width: 36px;
  height: 100%;
  right: -19px;
  top: 30px;
  cursor: e-resize;
}
.resize-bottom {
  position: absolute;
  width: 100%;
  height: 36px;
  bottom: -19px;
  cursor: s-resize;
}
.resize-left-bottom {
  position: absolute;
  width: 36px;
  height: 36px;
  left: -19px;
  bottom: -19px;
  cursor: sw-resize;
}
.resize-right-bottom {
  position: absolute;
  width: 36px;
  height: 36px;
  right: -19px;
  bottom: -19px;
  cursor: se-resize;
}
