#App-window {
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
}

.AppList {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  padding: 0 16px;
  margin: 0 auto;
}

.AppList-app {
  margin: 13px 0;
  width: 60px;
  transition: all 0.19s ease-out;
  cursor: pointer;
}
.AppList-app-logo-container {
  max-width: 50px;
  max-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(228, 226, 236, 0.9);
  border-radius: 50%;
  overflow: hidden;
}
.AppList-app-logo {
  display: inline-block;
  padding: 6.9px;
  width: 30px;
  height: 30px;
  background: rgb(228, 226, 236, 0.9);
  border-radius: 50%;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}
.AppList-app-name {
  position: absolute;
  top: -25px;
  left: 10px;
  width: max-content;
  display: none;
  font-size: 13px;
  text-align: center;
  color: #fff;
  transition: all 0.19s ease-out;
  cursor: pointer;
}

.AppList > .AppList-app:hover {
  margin: 13px 12px;
  padding-bottom: 23px;
}

.AppList > .AppList-app:hover > .AppList-app-name {
  display: block;
}

.AppList > .AppList-app > .AppList-app-name:hover {
  background-color: var(--Dock-background);
}
