.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 99%;
  padding-top: 10%;
  border-radius: 0 36px 36px 0;
}
.pie {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  color: #ddd;
  font-weight: bold;
  background:  rgb(63, 63, 63);
  border-radius: 100%;
  box-shadow: 3px 3px 0 6px rgb(196, 196, 196);
  cursor: pointer;
  transition: cubic-bezier(0.213, 0.610, 0.356, 1) .9s;
}
.pie:hover {
  background: #333;
  box-shadow: 3px 3px 0 6px rgb(211, 211, 211);
  transition: cubic-bezier(0.213, 0.610, 0.356, 1) .9s;
}
