.AppList-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 9px;
    transform: translate(-50%, 0);
    padding: 0 16px;
    width: fit-content;
    height: 63px;
    background-color: var(--AppList-background);
    backdrop-filter: blur(3.6px);
    border-radius: 19.6px;
}

.AppList-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 3.6px;
    top: 50%;
    transform: translate(0, -50%);
    padding: 9px 16px;
    width: 39px;
    height: fit-content;
    background-color: var(--AppList-background);
    backdrop-filter: blur(3.6px);
    border-radius: 19.6px;
}

.AppList-app {
    margin: 13px 0;
    width: 60px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .3s;
    cursor: pointer;
}
.AppList-app > img, .AppList-app > span {
    padding: 6.9px;
    width: 30px;
    background: #eee;
    border-radius: 50%;
}
.AppList-bottom > .AppList-app:hover {
    padding-bottom: 6px;
    transform: scale(1.1);
}
.AppList-left > .AppList-app:hover {
    padding-left: 9.6px;
    transform: scale(1.1);
}