#App-window {
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
}

.AppList-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 9px;
  transform: translate(-50%, 0);
  padding: 0 16px;
  width: fit-content;
  height: 63px;
  background-color: var(--AppList-background);
  backdrop-filter: blur(3.6px);
  border-radius: 19.6px;
  transition: all 0.1s ease-in-out;
}

.AppList-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 3.6px;
  top: 50%;
  transform: translate(0, -50%);
  padding: 9px 16px;
  width: 39px;
  height: fit-content;
  background-color: var(--AppList-background);
  backdrop-filter: blur(3.6px);
  border-radius: 19.6px;
}

.AppList-app {
  margin: 13px 0;
  width: 60px;
  transition: all 0.19s ease-out;
  cursor: pointer;
}
.AppList-app > img,
.AppList-app > span {
  display: inline-block;
  padding: 6.9px;
  width: 30px;
  height: 30px;
  background: rgb(228, 226, 226, .6);
  border-radius: 50%;
}
.AppList-bottom > .AppList-app:hover {
  margin: 13px 12px;
  padding-bottom: 16px;
}
.AppList-left > .AppList-app:hover {
  margin: 13px 19px;
  padding-left: 9.6px;
}